<div class="usertab1 active" style="margin-top: 20px">
  <!--表格开始-->
  <nz-table #nzTable *ngIf="tableData" [nzAjaxData]="tableData.resultList"
            [nzTotal]="searchParams.total"
            [nzLoading]="searchParams.isLoading"
            [(nzPageIndex)]="searchParams.current"
            (nzPageIndexChange)="refreshData(searchParams)"
            [(nzPageSize)]="searchParams.pageSize">
    <thead nz-thead>
    <tr>
      <th nz-th *ngFor="let h of tableData.headers;let i = index;">{{h.fieldCH}}</th>
     <th>操作</th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of tableData.resultList;let i = index;">
      <td nz-td *ngFor="let h of tableData.headers;let i = index;">
          {{data[h['fieldEN']]}}
      </td>
      <td (click)="userDisabled(data['id'])">
        <a class="table-btn agrey" *ngIf="data['deleteFlag']==false">停用</a><a class="table-btn ablue" *ngIf="data['deleteFlag']==true">启用</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
